#main-menu {
  background-color: green;
  overflow: hidden;
  border: 5px;
  border-radius: 5px;
}

# {
  position: relative;
  width: 100%;
  float: left;
}

 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float:left;
  text-align: center;
}

# {
  display: block;
  position: relative;
  right: 50%;
  float: left;
}

#main- {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: white;
}

#main- a:hover {
  background-color: gray;
}

#main-a:link {
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: blue;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: gray;
  width: 800px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

h1, h3 {
  text-align: center;
  text-decoration: underline;
}

.skyline {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skyline-caption {
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  border: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 560px;
  height: 315px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
